Documenting bank failure criteria for us banks from 1934 to present day

https://www.kaggle.com/fdic/bank-failures

What type of banking institution is the most likely to fail? How have bank failure rates changed over time? What commercial bank failure cost the federal government the most to resolve?

In [1]:
#importing libraries

#Organization and Lineralgebra
import pandas as pd
import numpy as np

#Visualizations
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline 




#setting filter warnings to ignore to keep our notebook clean
import warnings
warnings.filterwarnings("ignore")

In [8]:
#loading data
data = pd.read_csv('banks.csv')

#data overview
print(data.shape)
data.info()

(3484, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3484 entries, 0 to 3483
Data columns (total 12 columns):
Financial Institution Number    2883 non-null float64
Institution Name                3484 non-null object
Institution Type                3484 non-null object
Charter Type                    3484 non-null object
Headquarters                    3484 non-null object
Failure Date                    3484 non-null object
Insurance Fund                  3484 non-null object
Certificate Number              2999 non-null float64
Transaction Type                3484 non-null object
Total Deposits                  3484 non-null int64
Total Assets                    3333 non-null float64
Estimated Loss (2015)           2509 non-null float64
dtypes: float64(4), int64(1), object(7)
memory usage: 326.8+ KB

Notes: total assets should prob be int but is flt
decide on what cols we need and was arent usefull.....might be able to ignore most of the missing data by not needing columns with missing info

3,484 institutions, 12 columns of info

In [5]:
#looking at numerical data
data.describe()

,Financial Institution Number,Certificate Number,Total Deposits,Total Assets,Estimated Loss (2015)
count,2883.000000,2999.000000,3.484000e+03,3.333000e+03,2.509000e+03
mean,5571.146028,24013.859286,2.997762e+05,4.045884e+05,7.064435e+04
std,2846.666068,12234.422998,3.304676e+06,5.454873e+06,3.305872e+05
min,1122.000000,40.000000,0.000000e+00,1.400000e+01,-4.386000e+03
25%,2820.500000,17413.000000,1.229300e+04,1.505100e+04,3.852000e+03
50%,4592.000000,24846.000000,4.172100e+04,4.752300e+04,1.335400e+04
75%,7311.500000,30895.500000,1.562415e+05,1.734780e+05,4.458500e+04
max,11919.000000,91189.000000,1.882608e+08,3.070216e+08,1.243800e+07

Really lo